<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакт</title>
</head>
<body>
    <h1>Контакт</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <label for="name">Ваше имя</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="message">Ваше сообщение</label>
            <textarea type="text" id="message" rows="5" name="message" required></textarea>
        </div>
        <button type="submit">Отправить</button>

    </form>
</body>
</html>